body {
    background-color: #395C6B;
    font-size: 20px;
}

.box {
    max-width: 80%;
    margin-left: 10%;
    height: 100vh;
}

#code { 
    display:none;
}

#decode {
    display:none;
}
p {
    color: #d4cb92;
}

.codeMessage {
    background-color: #d4cb92;
    border: #d4cb92;
    font-size: 18px;
    width: 100%;
    color: #395c6b;
    padding: 2px;   
}

.code1 {
    background-color: #d4cb92;
    border: #d4cb92;
    font-size: 18px;
    color: #395c6b;
    margin-top: 3%;
    width: 47%;
    padding: 2px;
}

.code2 {
    background-color: #d4cb92;
    border: #d4cb92;
    font-size: 18px;
    color: #395c6b;
    margin-top: 3%;
    width: 47%;
    margin-left: 4%;
    padding: 2px;
}

.decodeMessage {
    background-color: #d4cb92;
    border: #d4cb92;
    font-size: 18px;
    width: 100%;
    color: #395c6b;
    padding: 2px;
}

.decode1 {
    background-color: #d4cb92;
    border: #d4cb92;
    font-size: 18px;
    color: #395c6b;
    margin-top: 3%;
    width: 47%;
    padding: 2px;
}

.decode2 {
    background-color: #d4cb92;
    border: #d4cb92;
    font-size: 18px;
    color: #395c6b;
    margin-top: 3%;
    width: 47%;
    margin-left: 4%;
    padding: 2px;
}


@media only screen and (max-width:720px){
    
    .codeBtn {
        height: 10%;
        width: 40%;
        margin-left: 30%;
        margin-top: 100%;
        padding: 0;
        background-color: #395C6B;
    }
    
    .decodeBtn {
        height: 10%;
        width: 40%;
        margin-left: 30%;
        margin-bottom: 80%;
    }

    .btnImg {
        height: 10%;
        width: 40%;
    }
    
    .codeHead {
        margin-top: 20%;
    }

    .decodeHead {
        margin-top: 10%;
        margin-left: -5%;
    }

}